.filter{
    display: flex;
    justify-content: space-between;

}
.filter button{
    background-color: blue;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.title_panel{
    display: flex;
    justify-content: space-between;
}
.title_panel h2{
    color: blue;

}

.title_panel a{
    text-decoration: none;
}

.price_input input{
    width: 130px;
}


.stock a{
    display: block;
}


.src_body{
    margin-top: 20px;
}





@media only screen and (max-width: 940px) {
    header{
      display: none;
    }
    .sec_1_med{
        display: block;
    }
    .filter{
        display: none;
    }
    .title_panel{
        display: none;
    }
    #price_content{
        display: none;
    }
    hr{
        display: none;
    }
    #compare{
        display: none;
    }

  }
