
body{
    margin: 0;
    overflow-x : hidden;
}


.four a{
    padding-left: 20px;
    color:rgb(0, 0, 0);
    background-color: white;
    border: 0;
    text-decoration: none;

}




header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.drop a{
    padding-left: 20px;
    background-color:white;
    color: black;
    border: 0;
}

.menu a{
    padding-left: 10px;
}
.menu{
    margin-right: 50px;
}
.input-groupss{
    display: flex;
}

#all button{
    font-size: 17px;
}
#input_srch input{
    font-size: 30px;
}

#icon{
    font-size: 7px;
}

.input-groupss .dropdn {
    padding: 16px;
    margin: 0px;
    height: 5px;
}
/* Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
.sec_1{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.journal h1{
    font-weight: bold;
    padding-right: 300px;
}
.handle{
    display: flex;
    padding-right: 200px;
}
.handle a{
    padding-left: 30px;
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb),var(--bs-text-opacity))!important;}


.badge_DEP{
    margin-left: 300px;
    font-size: 21px;
    margin-top: -13px;
    background-color: #e96630;
    padding: 2px 5px;
}

.badge_MENU{
    margin-left: 658px;
    font-size: 19px;
    margin-top: -6px;
    background-color: #f5cd4c;
    color: black;
    padding: 2px 5px;
}

.handle a i{
    border-radius:100%;
}
.blue{
    background-color: blue;
    color:white;
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
}
.dep_secs{
    display: flex;
}

.blue h4{
    padding: 25px;
}
.blue .dep{
    font-size: 30px;
    padding-top: 20px;
    padding-right: 55px;
    color: black;
    background-color: rgb(245, 205, 75);
    text-decoration: none;
}
#caras{
    /* display: flex; */
    /* margin: 20px 50px; */

}

.caras_img img{
    width: 333px;
    display: block;
    margin-left: 20px;
}

.text-over-card-image_1{
    position: absolute;
    top: 24%;
    left: 8%;
    width: 50%;
}

.text-over-card-image_1 p {
    color:blue;
    font-size: 15px;
}

.text-over-card-image_1 h2 {
    max-width: 200px;
    font-weight: 500;
    font-size: 23px;
}

.down_img{
    padding-top: 6px;
}

.filter{
    align-items: baseline;
    display: flex;
    justify-content: space-between;

}
.filter button{
    background-color: blue;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.title_panel{
    display: flex;
    justify-content: space-between;
}
.title_panel h2{
    color: blue;

}

#disc_search{
    background-color: red;
    color: white;
    border-radius: 0%;
    padding: 6px;
    margin: 0px -20px;
}

.title_panel a{
    text-decoration: none;
}

#price_input input{
    width: 220px;
    margin-right: 30px;
}


.stock a{
    display: block;
}
.text-over-card-image {
    position: absolute;
    top: 74%;
    left: 8%;
    width: 50%;
}

.text-over-card-image p {
    color:blue;
    font-size: 15px;
}

.text-over-card-image h2 {
    max-width: 200px;
    font-weight: 500;
    font-size: 23px;
}


#slider{
    width: 100%;
}

#buy{
    text-align: left;
    
}

.blue_right{
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
}

.blog{
    background-color:rgb(245 205 75);
    padding-top: 28px;
    margin-top: -30px;
    margin-left: 55px;
    padding-left: 30px;
    padding-right: 30px;
}

.blog a{
    font-size: 20px;
}
.frees{
    display: flex;
    background-color:rgba(59,74,85,255);
    padding: 20px;    
    justify-content: space-evenly;
}
.listt strong{
    color: white;
}
.listt i{
    padding: 13px 2px;
    color:orangered;
    padding: 20px;
    border-radius:50%;
    border: solid blue;   
}
.listt {
    padding-left: 50px;
}
.listt p{
    padding-left: 90px;
}

.why{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}
h2{
    font-weight: bold;
}

.nav li a{ 
    color:gray;
    font-weight: bold;
    font-size: 20px;
}
.why .nav{
    padding-top: 20px;
}
.types_img{
    display: flex;
    padding-top: 20px;
}
.types_img li{
    list-style: none;
}
.types_img li img{
    border-radius: 10px;
    height:400px;
    width: 350px;
}


/* Most- viewed  */
#most-viewed {
  background-color: #3a4855;
}

.most-viewed-container {
  padding: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.most-viewed-text h3 {
  padding: 10px;
  text-align: left;
  color: #0c0b0b;
  font-size: 35px;
  font-weight: 500;
}

.most-viewed-text hr {
  margin-bottom: 20px;
  background-color: #e96630;
  height: 3px;
  border: none;
  width: 100vw;
  margin-left: 10px;
}

.most-viewed-container .container-one,
.container-two,
.container-three,
.container-four {
  background-color: white;
  padding: 20px;
  border-radius: 4px;

}




.container-one,
.container-two,
.container-three,
.container-four {
  /* width: 21vw;
  height: 128px; */
  width: auto;
  height: auto;
}

.container-one .name,
.container-two .name,
.container-three .name,
.container-four .name {
  font-size: 16px;
  margin-top: -10px;
  margin-left: 20px;

}

.container-one .most-viewed-icon,
.container-two .most-viewed-icon,
.container-three .most-viewed-icon,
.container-four .most-viewed-icon {
  font-size: 20px;
  margin-top: -20px;
}

.border {
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
}



#owll{
    display: none;
}


.first_text{
    margin-top: 337px;
    position: absolute; 
    margin-left: 138px; 
    background-color:white;
}
.sec_text{
   margin-top: 337px;
   position: absolute; 
   margin-left: 457px; 
   background-color: white;  
}
.third_text{
    margin-top: 337px;
    position: absolute; 
    margin-left: 812px; 
    background-color: white;  
 }
 .four_text{
    margin-top: 337px;
    position: absolute; 
    margin-left: 1214px; 
    background-color: white;  
 }

.featured{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 30px;
    background-color: rgba(248,248,248,255);
}

.category{
    background-color: rgba(238,242,245,255);
    padding-top: 20px;
    height: 80vh;
    text-align: center;
    margin-bottom: 300px;
}

.cat_types_img{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}
.types_img{
    display: flex;
    padding-top: 20px;
}
.cat_types_img li{
    list-style: none;
    padding-left: 40px;
}
.cat_types_img li img{
    border-radius: 10px;
    height:400px;
}

.brand h2{
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}
.btn_hrt:active{
    background-color: rgb(255, 0, 64);
        
        
}

.logos{
    padding-top: 70px;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}
.logo_owl img{
    border-radius: 10px;
    border: solid;
    height: 100px;
    filter: grayscale(70%);
}

.logo_owl .item img{
    border-radius: 10px;
    border: solid;
    height: 100px;
    filter: grayscale(70%);   
}

.gallery{
    padding-top: 40px;
    height: auto;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(58,72,85,255);
    color: rgb(243 243 247);
}
.gallery_logo{
    padding-top: 30px;
    flex-wrap: wrap;
}

.gallery_logo img{
    border-radius: 10px;
    border: solid black;
    height: 100px;
}

h3{
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}
.saying{
    display: flex;
    justify-content: space-around;
}

.auth1{
    width:400px;
    padding-top: 40px;
        
}
#filter_sec{
    display: none;
}

.auth1 i{
    font-size: 120px;
    color: rgb(255, 94, 0);
}

.badge1{
    z-index: 100;
    background-color: red;
    color: white;
    border-radius: 0%;
    padding: 6px;
    margin: 0px 238px;
}
.badge-overlay {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
    -webkit-transition: width 1s ease, height 1s ease;
    -moz-transition: width 1s ease, height 1s ease;
    -o-transition: width 1s ease, height 1s ease;
    transition: width 0.4s ease, height 0.4s ease
}

/* ================== Badge CSS ========================*/
.badge {
    margin: 0;
    padding: 0;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: blue;
}
.badge::before, .badge::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: blue;
    min-width: 55px
}

.badge::before {
    right: 100%
}

.badge::after {
    left: 100%
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: translateX(-30%) translateY(0%) rotate(-45deg);
    -webkit-transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform: translateX(-30%) translateY(0%) rotate(-45deg);
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}
input[type='number']{
    width: 40px;
} 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

h6{
    color: #2b569a;
}
.search-btn button{
    background-color: #0050cf;
    align-items: center;
    color: white;
    padding-left: 48%;
    padding-right: 48%;
    font-size: 20px;
    border: none;
}
input[type=text]{
    width: 42vw
}

.compare{
    border: 1px solid blue; 
    border-radius: 50%;
     padding: 4px; 
     font-size: 8px; 
     color: blue;   
}

/* for cart */

#cart-container table{
    border-collapse: collapse;
    table-layout: fixed;
}

#cart-container table thead{
    font-weight: 700;
    font-size: 20px;
}
#cart-container table thead td{
    background-color: #ff622d ;
    color: white;
    border: none ;
    padding: 6px 0;
}


#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}



#cart-container table td:nth-child(1){
    width: 100px;
}


#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}


#cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit:cover;
    margin-bottom: 30px;
}

.modal{
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* for wishlist */

#wish-container table {
    border-collapse: collapse;
    table-layout: fixed;
    width: -webkit-fill-available;
}


#wish-container table thead{
    font-weight: 700;
    font-size: 20px;
}
#wish-container table thead td{
    background-color: #ff622d ;
    color: white;
    border: none ;
    padding: 6px 0;
}


#wish-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}



#wish-container table td:nth-child(1){
    width: 100px;
}


#wish-container table td:nth-child(2),
#wish-container table td:nth-child(3){
    width: 193px;
}

#wish-container table td:nth-child(4),
#wish-container table td:nth-child(5),
#wish-container table td:nth-child(6){
    width: 170px;
}

#wish-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit:cover;
    margin-bottom: 30px;
}

.modal{
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}







.heyy1{
    display: flex;
    justify-content: space-around;
}

/* .cards{
    position: relative;
    display: flex;
}
/* 
.cards .img-box img{
    width: 90%;
    height: 300px;
}
.text-section p{
    height: 20px;
    width: 10%;
    color: blue;
    position: absolute;
    top: 50%;
    left:8%;
} */ */

.down_logo i{
    text-align: center;
    justify-content: space-between;
}

.down_logo{
    color:blue;
    background-color: rgba(238,238,238,255);
    text-align: center;
    padding-top: 50px;
    height: auto;
}
.footer .top{
    font-weight: bold;
    font-size: 20px;
    color: black;
    list-style-type: none;
}

.footer ul{
    list-style-type: none;
    text-align: left;
    padding-left: 200px;

}
.src_body{
    overflow-x: hidden;
}
.footer ul li{
    padding-bottom: 16px;
    color: blue;
}

.footer1{
    display: flex;
    flex-wrap: wrap;
}

.footer i{
    opacity: 0.6;
}

.niche{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.underline {
    width: 70px;
    height: 4px;
    background-color: rgb(228, 97, 45);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.newsletter{
    padding-left: 260px;
}
.newsletter h4{
    font-weight: bold;
    font-size: 20px;
    color: black;
    list-style-type: none;
}
.message{
    opacity: .5;
    font-size: 12px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #aa5404;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }



  /* #input_srch input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  #input_srch.active input{
    border-radius: 5px 5px 0 0;
  } */




  #input_srch .resultBox{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  #input_srch.active .resultBox{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  

  #resultBox li{
    list-style: none;
    padding: 8px 12px;
    width: auto;
    background-color: white;

    cursor: default;
    border-radius: 3px;
  }


  

  #resultBox li:hover{
    background: #efefef;
  }




.owl-dot span{
    background-color: gray;
}
.owl-dot.active span{
    background-color: orangered !important;
}



/* @media only screen and (max-width: 600px) {
    .blue{
      background-color: rgb(238, 15, 15);
    }
  } */







@media only screen and (max-width:700px){
    #search-section_search{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:700px){
    .right .input-field{
        display: block !important;
    }
}



  @media only screen and (max-width: 1691px) {
    .sec_1{
      display: none;
    }

  }



@media only screen and (max-width: 1508px) {
    .blue{
      display: none;
    }
    .sec_1_med{
        display: block;
    }


  }



@media only screen and (max-width: 1121px) {
    .four{
        display: none;
    }
    .menu{
        display: none;
    }
    .blue_med{
        background-color: blue;
        justify-content: space-between;
        display: flex;
    }
    .blue_med a{
        color: rgb(248, 248, 248);
    }
    .drop{
        display: none;
    }
    .drop_med button{
        color: white;
    }
  }

@media (min-width:1122px)
{
    .blue_med{
        display: none;
    }
    .blue_med{
        background-color: blue;
    }

}


@media (min-width:1508px)
{
    .sec_1_med{
        display: none;
    }
}
/* 
@media (max-width:1400px){
   #product-list{
    display: none !important; 
   }

   #owll{
    display: block;
   } 
} */






/* .why{
    display: none;
}

.featured{
    display: none;
} */
#product-list.d-flex
{
    display: flex;
    flex-wrap: wrap;
}

